<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz3u55x_L5eZRYf_A7upNhi0rtVKCX8eY</string>
	<key>GCM_SENDER_ID</key>
	<string>364607737503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jgray.lol.Notes</string>
	<key>PROJECT_ID</key>
	<string>noteapp-1c0ff</string>
	<key>STORAGE_BUCKET</key>
	<string>noteapp-1c0ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364607737503:ios:fb1776f902d7d660501caa</string>
</dict>
</plist>